// MOBILE
.example {
  // background-color: $grey;
  min-height: 705px;
}

.example__title {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  padding-top: 16px;

  font-weight: inherit;
  font-size: 36px;
  line-height: 60px;
  color: $black-two;
}

.example__subtitle {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;

  font-weight: inherit;
  font-size: 14px;
  line-height: 18px;
  font-family: $font-second;
  color: $black-four;
}

.example__desc {
  margin-bottom: 20px;
}

.example__list {
  display: flex;

  text-align: center;

  @include reset-list;
}

.example__item {
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  width: 123px;

  @include box-sizing;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.example__text-top {
  display: block;
  padding-top: 13px;
  padding-bottom: 17px;

  font-weight: inherit;
  font-size: 24px;
  line-height: 24px;
  color: $black-two;
  text-transform: uppercase;

  border: 1px solid $gray-four;
  border-radius: 3px;

  @include box-sizing;
}

.example__text-bottom {
  margin: -10px 30px 0 30px;

  font-weight: inherit;
  font-size: 12px;
  line-height: 12px;
  font-family: $font-second;
  color: #444444;

  background-color: $grey;
}

.example__price {
  display: block;
  margin-bottom: 44px;

  font-weight: inherit;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: $black-two;
  text-transform: uppercase;
}

// TABLET

@media (min-width: $tablet-width) {
  min-height: 100px;
}

// DESKTOP

@media (min-width: $desktop-width) {
  min-height: 100px;
}
