// MOBILE
.page-footer {
  margin-top: 29px;
  // background-color: $grey;
}

.page-footer__contact {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
  // background-color: $white;
}

.page-footer__title {
  margin: 0;
  padding: 0;

  font-weight: inherit;
  font-size: 16px;
  line-height: 20px;
  color: $black-two;
  text-transform: uppercase;
}

.page-footer__subtext {
  margin: 0;
  padding: 0;

  font-weight: inherit;
  line-height: 20px;
  font-family: $font-second;
  color: $black-four;
}

.page-footer__map {
  margin: 0 auto;
  position: relative;
  margin-bottom: 37px;
  // min-height: 360px;
  width: 320px;
  height: 362px;
  background-color: $gray-four;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    width: 55px;
    height: 53px;
    background-image: url("../img/map-pin.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;

    top: 155px;
    left: 131px;
  }
}

.page-footer__network {
  display: flex;
  flex-direction: column;
}

.page-footer__logo {
  padding-bottom: 28px;
  text-align: center;
}

.page-footer__logo-img {
  width: 128px;
  height: 24px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__list {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 62px;
  margin-right: 10px;

  border-top: 1px solid $gray-four;
  border-bottom: 1px solid $gray-four;

  @include reset-list;
}

.page-footer__item:not(:last-child) {
  margin-right: 36px;
}

.page-footer__link {
  & svg {
    fill: $gray-five;
  }

  & svg:hover,
  & svg:focus {
    fill: $green;
  }

  & svg:active {
    fill: $green;
    opacity: 0.3;
  }
}

.page-footer__copyright {
  min-height: 78px;
}

.page-footer__click {
  padding-top: 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: inherit;
  font-size: 16px;
  line-height: 16px;
  font-family: $font-second;
  color: $black-four;

  text-decoration: none;

  &:hover,
  &:focus {
    color: $black-four;
  }

  &:active {
    color: $black-four;
    opacity: 0.3;
  }

  & svg {
    fill: $gray-five;
    margin-left: auto;
  }

  & svg:hover,
  & svg:focus {
    fill: $green;
  }

  & svg:active {
    fill: $green;
    opacity: 0.3;
  }
}

// TABLET
@media (min-width: $tablet-width) {
  min-height: 100px;
}

// DESKTOP

@media (min-width: $desktop-width) {
  min-height: 100px;
}
