// MOBILE
.page-footer {
  position: relative;
}

.page-footer__contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 117px;

  &--grey {
    background-color: $grey;
  }
}

.page-footer__title {
  width: 50%;
  margin: 0;
  padding: 0;

  font-weight: inherit;
  font-size: 16px;
  line-height: 20px;
  color: $black-two;
  text-transform: uppercase;
}

.page-footer__subtext {
  width: 50%;
  margin: 0;
  padding: 0;

  font-weight: inherit;
  line-height: 20px;
  font-family: $font-second;
  color: $black-four;
}

.page-footer__map {
  position: relative;

  width: 100%;
  height: 362px;
  margin: 0 auto;
  overflow: hidden;

  background-color: $grey;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    top: 155px;
    left: 131px;
    z-index: -9;

    width: 55px;
    height: 53px;

    background-image: url("../img/map-pin.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.page-footer__network {
  display: flex;
  flex-direction: column;
  align-items: center;

  &--grey {
    background-color: $grey;
  }
}

.page-footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 37px;
  margin-bottom: 31px;
}

.page-footer__logo-img {
  width: 128px;
  height: 24px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__social {
  display: flex;
  justify-content: center;
  width: 100%;

  border-top: 1px solid $gray-four;
  border-bottom: 1px solid $gray-four;
}

.page-footer__item:not(:last-child) {
  margin-right: 39px;
}

.page-footer__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 137px;
  margin: 22px 0;
  padding: 0;

  list-style: none;
}

.page-footer__link svg {
  fill: $gray-five;
}

.page-footer__link {
  display: flex;

  &--vk {
    width: 22px;
    height: 12px;
  }

  &--instagram {
    width: 16px;
    height: 16px;
  }

  &--facebook {
    width: 10px;
    height: 19px;
  }

  &:hover svg,
  &:focus svg {
    fill: $green;
  }

  &:active svg {
    opacity: 0.3;
  }
}

.page-footer__copyright {
  width: 100%;
  min-height: 76px;
}

.page-footer__click {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 19px;

  font-weight: inherit;
  font-size: 16px;
  line-height: 16px;
  font-family: $font-second;
  color: $black-four;
  text-decoration: none;

  &--htmlacademy {
    width: 27px;
    height: 34px;
    margin-left: auto;

    fill: $gray-five;
  }

  &:hover,
  &:hover svg,
  &:focus,
  &:focus svg {
    color: $black-four;

    fill: $green;
  }

  &:active,
  &:active svg {
    opacity: 0.3;
  }
}

// TABLET

@media (min-width: $tablet-width) {
  .page-footer__contact {
    min-height: 200px;
  }

  .page-footer__title {
    width: 192px;
    margin: 0;
    padding: 0;
    padding-left: 41px;

    font-size: 20px;
    line-height: 25px;
  }

  .page-footer__subtext {
    width: 192px;
    margin-left: auto;
    padding: 0;
    padding-top: 2px;
    padding-right: 42px;

    font-size: 16px;
    text-align: right;

    &--city {
      display: inline-block;
      padding-top: 20px;
    }
  }

  .page-footer__map {
    height: 400px;

    background-image: url("../img/bg-map-tablet@1x.png");

    &::before {
      top: 145px;
      left: 338px;

      width: 113px;
      height: 106px;
    }
  }

  .page-footer__network {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 142px;
  }

  .page-footer__logo {
    justify-content: flex-start;
    margin: 0;
    padding: 0;
  }

  .page-footer__social {
    border: none;
  }

  .page-footer__item:not(:last-child) {
    margin-right: 27px;
  }

  .page-footer__list {
    margin: 0;
  }

  .page-footer__item {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }

  .page-footer__link {
    &--vk {
      width: 30px;
      height: 16px;
    }

    &--instagram {
      width: 23px;
      height: 23px;
    }

    &--facebook {
      width: 14px;
      height: 28px;
    }
  }

  .page-footer__copyright {
    display: flex;
    justify-content: flex-end;
  }

  .page-footer__click {
    margin: 0;

    & svg {
      margin-left: 11px;
    }
  }
}

// DESKTOP

@media (min-width: $desktop-width) {
  .page-footer {
    position: relative;
  }

  .page-footer__contact {
    position: absolute;
    top: 97px;
    left: 40px;
    z-index: 1;

    width: 570px;
    min-height: 201px;
    margin: 0;
    padding: 0;

    background-color: $white;
  }

  .page-footer__title {
    margin-right: 6px;
    padding-left: 75px;
  }

  .page-footer__subtext {
    margin: 0;
    padding: 0;

    text-align: left;
  }

  .page-footer__map {
    height: 400px;

    background-image: url("../img/bg-map-desktop@1x.png");

    &::before {
      top: 148px;
      left: 935px;

      width: 113px;
      height: 106px;
    }
  }

  .page-footer__network {
    min-height: 150px;
  }
}
