// MOBILE
.main-choice__title {
  margin: 0;
  margin-top: 14px;
  margin-bottom: 25px;
  padding: 0;

  font-weight: inherit;
  font-size: 36px;
  line-height: 60px;
  font-family: $font-stack;
  color: $black-two;
}

.main-choice__subtitle {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  padding-right: 50px;

  font-weight: inherit;
  font-family: $font-stack;
  color: $black-two;
  text-transform: uppercase;
}

.choice__profile,
.choice__program,
.choice__contact,
.choice__commit,
.choice__additionally {
  margin: 0;
  padding: 0;

  border: none;
}

.choice__list {
  position: relative;

  border-bottom: 1px solid red; //$gray-six;

  @include reset-list;
  @include box-sizing;
}

.name,
.radio,
.contact {
  display: flex;
  flex-direction: column;
  padding-bottom: 23px;
}

.name__item,
.contact__item {
  position: relative;

  display: flex;
  align-items: center;

  @include box-sizing;
}

.name__item:not(:last-child) {
  margin-bottom: 14px;
}

.name__label {
  display: block;
  padding-right: 11px;

  font-weight: inherit;
  font-size: 16px;
  line-height: 18px;
  font-family: $font-stack;
  color: $black-three;
  text-transform: uppercase;

  &[for="name"] {
    width: 40px;
  }

  &[for="weight"] {
    width: 65px;
  }

  &[for="age"] {
    width: 94px;
  }
}

.text__input {
  position: relative;

  flex-grow: 1;
  height: 45px;
  padding: 0;
  padding-left: 10px;

  font-weight: inherit;
  font-size: 16px;
  line-height: 18px;
  font-family: $font-stack;
  text-transform: uppercase;

  border: 1px solid $gray-four-opacity50;
  outline: none;

  @include box-sizing;
}

// input[type="text"]:hover,
// input[type="text"]:focus {
//   border-color: $gray-four;
// }

// input[type="text"]:active {
//   border-color: $black-four;
// }

// input[type="text"]:required {
//   border-color: $red-error;
// }

.radio__item {
  padding-left: 46px;
}

.radio__item:not(:last-child) {
  margin-top: 25px;
}

.radio__item:first-child {
  margin-top: 27px;
}

.radio__item:nth-child(2) {
  margin-bottom: 24px;
}

.radio__label {
  position: relative;

  display: block;

  font-weight: inherit;
  font-size: 16px;
  line-height: 18px;
  font-family: $font-stack;
  color: $black-three;
  text-transform: uppercase;

  cursor: pointer;
}

.radio__input + label::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -47px;

  width: 30px;
  height: 30px;

  border: 1px solid $gray-four;
  border-radius: 50%;
}

.radio__input:checked + label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: -37px;

  width: 12px;
  height: 12px;

  background-color: $green;
  border-radius: 50%;
}

.radio__input + label:hover::before,
.radio__input + label:focus::before {
  border-color: $gray-seven;
}

.radio__input:disabled + label {
  color: $black-three;

  border-color: $gray-seven;
  opacity: 0.3;
}

.choice__list.contact {
  padding: 0;

  border: none;
}

.choice__heading {
  position: relative;

  display: inline-block;

  font-weight: inherit;
  font-size: 24px;
  line-height: 24px;
  font-family: $font-stack;
  color: $black-two;

  // background-color: $white;

  &::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 0;
    z-index: -1;

    display: block;
    width: 100vw;
    height: 3px;

    background-color: $green;
  }
}

.choice__heading--contact {
  margin-top: 30px;
  margin-bottom: 34px;
}

.contact__item {
  margin-bottom: 15px;
}

.contact__email,
.contact__phone {
  padding-right: 12px;

  font-weight: inherit;
  font-size: 16px;
  line-height: 18px;
  font-family: $font-stack;
  color: $black-three;
  text-transform: uppercase;
}

.contact__img {
  position: absolute;
}

.contact__img--email {
  top: 16px;
  right: 16px;
}

.contact__img--phone {
  top: 13px;
  right: 13px;
}

.choice__commit {
  padding-bottom: 20px;
}

.choice__heading--commit {
  margin-top: 13px;
  margin-bottom: 35px;
}

.choice__textarea {
  width: 280px;
  height: 150px;
  padding: 13px;
  overflow: auto;

  font-weight: inherit;
  font-size: 16px;
  line-height: 18px;
  font-family: $font-stack;
  color: $black-four;
  text-transform: uppercase;

  border: 1px solid $gray-four-opacity50;

  resize: horizontal;

  @include box-sizing;
}

.choice__heading-additionally {
  margin-top: 7px;
  margin-bottom: 41px;
}

.additionally__item {
  margin-bottom: 24px;
  padding-left: 45px;
}

.additionally__label {
  position: relative;

  display: block;

  font-weight: inherit;
  font-size: 16px;
  line-height: 18px;
  font-family: $font-stack;
  color: $black-three;
  text-transform: uppercase;

  cursor: pointer;
}

.additionally__input + label::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -46px;

  width: 30px;
  height: 30px;

  border: 1px solid $gray-four;
}

.additionally__input:checked + label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: -41px;

  width: 21px;
  height: 16px;

  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
}

.additionally__input + label:hover::before,
.additionally__input + label:focus::before {
  border-color: $gray-seven;
}

.additionally__input:disabled + label {
  color: $black-three;

  border-color: $gray-seven;
  opacity: 0.3;
}

.choice__button {
  margin-top: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  background-color: red;
  opacity: 0.2;
}

.choice__stars {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 32px;
  padding: 0;

  font-weight: inherit;
  font-size: 14px;
  line-height: 16px;
  font-family: $font-second;
  text-align: center;
  color: $black-four;
}

// TABLET

@media (min-width: $tablet-width) {
  .main-choice__title {
    margin-top: 55px;
  }
}

// DESKTOP

@media (min-width: $desktop-width) {
  .main-choice__title {
    margin-top: 55px;
  }
}
