// MOBILE
.product {
  @include box-sizing;
}

.product__title {
  margin: 0 20px;
  margin-top: 15px;
  padding: 0;
  padding-bottom: 28px;

  font-weight: inherit;
  font-size: 36px;
  line-height: 60px;
  font-family: $font-stack;
  color: $black-two;

  border-bottom: 1px solid red; //$gray-six;
}

.product__list {
  margin: 0;

  list-style: none;

  @include box-sizing;
}

.product__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 24px;

  border-bottom: 1px solid red; //$gray-six;
}

.item-goods__link {
  width: 140px;
  height: 144px;

  @include box-sizing;
}

.item-goods__link-img {
  max-width: 100%;
  height: auto;
}

.item-goods__inner {
  flex-grow: 1;
  width: 140px;
}

.inner__link {
  text-decoration: none;

  &-title {
    margin: 0;
    margin-bottom: 12px;
    padding: 0;
    padding-top: 22px;
    padding-right: 55px;

    font-weight: inherit;
    font-size: 16px;
    line-height: 20px;
    font-family: $font-stack;
    color: $black-two;
    text-transform: uppercase;
  }
}

.inner__list {
  display: flex;
  flex-direction: column;

  @include reset-list;
}

.inner__item {
  display: flex;
}

.inner__name,
.inner__volume {
  margin: 0;
  padding: 0;

  font-weight: inherit;
  font-size: 12px;
  line-height: 16px;
  font-family: $font-second;
  color: $black-four;
}

.inner__name {
  text-align: left;
}

.inner__volume {
  flex-grow: 1;

  text-align: right;
}

.item-goods__button.button {
  padding: 10px 0;

  font-weight: inherit;
  font-size: 16px;
  line-height: 20px;
}

.more-goods {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 27px;

  @include box-sizing;
}

.more-goods__img {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  margin-top: 3px;
  margin-bottom: 24px;
}

.more-goods__title {
  margin: 0;
  margin-bottom: 7px;
  padding: 0;
  padding-left: 2px;

  font-weight: inherit;
  font-size: 16px;
  line-height: 20px;
  font-family: $font-stack;
  color: $black-two;
  text-transform: uppercase;
}

.more-goods__subtitle {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;

  font-weight: inherit;
  font-size: 12px;
  line-height: 16px;
  font-family: $font-second;
  color: $black-four;
}

// TABLET

@media (min-width: $tablet-width) {
  .main-choice__title {
    margin-top: 55px;
    margin-bottom: 55px;
  }
}

// DESKTOP

@media (min-width: $desktop-width) {
  .main-choice__title {
    font-size: 60px;
  }
}
